@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(fonts/roboto.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}

@font-face {
  font-family: 'FontAwesome';
  src: url('fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2');
  font-weight: normal;
  font-style: normal;
}

.container{
	width: 960px;
	margin: 0 auto;
	font-family: 'Roboto', sans-serif;
}

.titulo {
	font-size: 65px;
	text-align: center;
	margin: 30px 0 25px 0;
}

.frase {
	font-size: 20px;
	text-align: left;
	margin-bottom: 20px;
}

.informacoes {
	text-align: center;
	margin-bottom: 20px;
}

.informacoes li {
	padding: 5px;
}

.icones {
	vertical-align: middle;
}

.campo-digitacao {
	width: 100%;
	border: 3px solid #000;
}

.campo-desativado {
	background-color: lightgray;
}

.botoes {
	margin-bottom: 20px;
}

.botao-reiniciar {
	cursor: pointer;
}

.contadores {
	text-align: center;
}
